* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************/
/*      FONTS        */
/*********************/

@font-face {
    font-family: "abchanel";
    src: url(../fonts/ABChanel2022-Regular.woff2);
    /* normaal */
}

@font-face {
    font-family: "abchanel";
    src: url(../fonts/ABChanel2022-Bold.woff2);
    /* dik */
}

@font-face {
    font-family: "abchanel";
    src: url(../fonts/ABChanel2022-SemiBold.woff2);
    /* semi dik */
}

@font-face {
    font-family: "abchanel";
    src: url(../fonts/4557ee3c5c7e229667c02c3e802771f4feae8659-l.woff2);
}

@font-face {
    font-family: "abchanel";
    src: url(../fonts/64b14ed9188172fd562480b882a998c1cb8e8eb2-l.woff2);
    /* dun */
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --backgroumd-page: white;
    --background-color-footer: #000000;
    --color-header-home: white;
    --background-header-hover-home: white;
    --header-items-hover-home: black;
    --color-producten-home: black;
    --color-text-kopjes-home: white;
    --color-footer-svg-home: white;
    --footer-nav: #9b9b9b;
    --button-favo: black;
    --h3-footer: white;
    --carroussel-niet-in-gebruik: #9b9b9b;
    --menu-color-muiltjes: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroumd-page: black;
        --background-color-footer: white;
        --color-header-home: black;
        --background-header-hover-home: black;
        --header-items-hover-home: white;
        --color-producten-home: white;
        --color-text-kopjes-home: black;
        --color-footer-svg-home: black;
        --footer-nav: #9b9b9b;
        --button-favo: white;
        --h3-footer: black;
        --carroussel-niet-in-gebruik: #9b9b9b;
        --menu-color-muiltjes: white;
    }
}


/* algemeen */

section > img {
    width: 100%;
}



/* header */

header button span {
    color: var(--menu-color-muiltjes);
}

header:hover {
    background-color: var(--background-color-footer);
    padding: .5em;
    border-top: #ffffff .4em solid;
    padding: 1em .8em;

    @media (width > 37em) {
        padding: 1em 3.5em;
    }

    button span {
        color: var(--color-header-home);
    }
    
}

header:hover svg {
    path {
        fill: var(--color-header-home);
    }
}



/* section 1 */

h1 {
    font-family: "abchanel";
    font-size: 25px;
    line-height: 124%;
    letter-spacing: .135rem;
}

h2 {
    font-family: "abchanel"; 
    font-size: 1em;
    line-height: 1.125rem;
    letter-spacing: .0625rem;
}

h3 {
    font-family: "abchanel";
    font-size: 1em;
    line-height: 1.125rem;
    letter-spacing: .0625rem;
}

section:nth-of-type(1) p {
    font-family: "helvetica";
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .00625rem;
}

section:nth-of-type(1) {
    display: grid;
    align-items: center;
    justify-items: center;

    margin-bottom: .3em;

    h1, h2, h3, p, img {
        grid-column: 1;
        grid-row: 1;
    }

    h1 { 
        text-align: center;
        z-index: 1;
        margin-top: 2em;
    }

    h2 { 
        z-index: 1;
        margin-top: 6.5em;
    }

    h3 {
        align-self: end;
        z-index: 1;
        margin-bottom: 2em;
    }

    p:nth-of-type(1) {
        align-self: center;
        z-index: 1;
        margin-top: 11em;
    }

    p:nth-of-type(2) {
        align-self: center;
        z-index: 1;
        margin-top: 13.5em;
    }

}

/* section 2 */

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
    gap: .3em;
}

@media (width > 24em) {

    section:nth-of-type(2) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content ;
    }

    section:nth-of-type(2) img:nth-of-type(1) {
        grid-column: 1 / 3;
        grid-row: 1;
    }
}

@media (width > 37em) {

    section:nth-of-type(2) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section:nth-of-type(2) img:nth-of-type(1) {
        grid-column: 1 ;
        grid-row: 1;
    }
}



/* section 3  - caroussel */

section:nth-of-type(3) {
  margin-top: 4em;
}

section:nth-of-type(3) h2 {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1.5em;
}



section:nth-of-type(3) div {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
   &.hidden {
   
          display: none;
   
        }
   
    }

section:nth-of-type(3) button {
    font-family: "abchanel";
    font-size: 1em; 
    margin-bottom: 1.5em;
    border: none;
    background: none;
}

/* section:nth-of-type(3)  ul:nth-of-type(1) li:nth-of-type(1) {
    text-decoration: underline;
    text-underline-offset: .5em;
} */

/* section:nth-of-type(3) ul:nth-of-type(1) li:nth-of-type(2) {
    color: var(--carroussel-niet-in-gebruik);
} */


section:nth-of-type(3) ul:nth-of-type(2) {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;

    list-style: none;

    gap: .3em;
    padding-left: 1em;
    padding-right: 1em;


    /* snap ik niet */
    &::scroll-button(*) {
        position-anchor: --carousel;
        /* position-visibility: always; */
        margin-bottom: 3em;
        
            background: none;
            width:3em;
            aspect-ratio:1;
            /* border-radius:.5em; */
            border:none;
            appearance:none;
            /* padding:.5em; */
      }
    
      &::scroll-button(right) {
        /* position-area: bottom; */
        /* justify-self: end; */
        content: '>' / 'Next';
            
      }
    
      &::scroll-button(left) {
        /* position-area: bottom; */
        /* justify-self: center; */
        content: '<' / 'Previous';
            
            /* background-image: url("https://assets.codepen.io/274456/jp-icon-bonsai.svg"); */
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            background-origin:content-box;
      }

}

/* → ← */



section:nth-of-type(3) ul:nth-of-type(2) li {
    flex-basis: 65%;
    flex-shrink: 0;
}

@media (width > 24em) {
    section:nth-of-type(3) ul:nth-of-type(2) li {
        flex-basis: 40%;
    }
}


/* section 4 */

section:nth-of-type(4) h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;

    font-size: 1.125em;
}

section:nth-of-type(4) p{ 
    text-align: center;
    margin-bottom: 2.25em;
    margin-left: 1.5em;
    margin-right: 1.5em;

    font-family: "helvetica";
    font-size: 1em;
    letter-spacing: .0625rem;
}

li img {
    width: 100%;
}

section:nth-of-type(4) ul {
    list-style: none;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .3em;
}

@media (width > 24em) {

    section:nth-of-type(4) ul {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content max-content max-content;
    }

    section:nth-of-type(4) li:nth-of-type(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    section:nth-of-type(4) li:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 1;
    }

    section:nth-of-type(4) li:nth-of-type(3) {
        grid-column: 3 / 4;
        grid-row: 2;
    }

    section:nth-of-type(4) li:nth-of-type(4) {
        grid-column: 1 /2 ;
        grid-row: 3;
    }
    
    section:nth-of-type(4) li:nth-of-type(5) {
        grid-column: 1 / 2;
        grid-row: 4;
    }
    
    section:nth-of-type(4) li:nth-of-type(6) {
        grid-column: 2 / 4;
        grid-row: 3 / 5;
    }
       
}

@media (width > 37em) {
    
    section:nth-of-type(4) ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    section:nth-of-type(4) li:nth-of-type(1) {
        grid-column: 1/ 3;
        grid-row: 1 / 3;
    }

    section:nth-of-type(4) li:nth-of-type(2) {
        grid-column: 1;
        grid-row: 3;
    }

    section:nth-of-type(4) li:nth-of-type(3) {
        grid-column: 2;
        grid-row: 3;
    }

    section:nth-of-type(4) li:nth-of-type(4) {
        grid-column: 3;
        grid-area: 1;
    }
    
    section:nth-of-type(4) li:nth-of-type(5) {
        grid-column: 4;
        grid-area: 1;
    }
    
    section:nth-of-type(4) li:nth-of-type(6) {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }

}